services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: appdb
    ports:
      - "5433:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - pgdata:/var/lib/postgresql/data

  app:
    image: golang:1.24
    working_dir: /app
    volumes:
      - .:/app
    env_file:
      - .env
    ports:
      - "8080:8080"
    command: ["go", "run", "./cmd/server"]
    depends_on:
      - db
    restart: unless-stopped
volumes:
  pgdata: